@import url(https://fonts.google.com/specimen/Nunito+Sans);

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* width: 100%;
   min-height: 100vh; */
   --bgColor: hsl(0, 0%, 98%);
   --fontColor: hsl(200, 15%, 8%);
   font-family:   "Nunito San" sans-serif;
} 

.dark{
   --bgColor:  hsl(200, 15%, 8%);
   --fontColor: hsl(0, 0%, 98%);
   background: var(--bgColor);
   color: var(--fontColor)!important;
   --countrybgcolor: hsl(207, 26%, 17%); 
}

.container {
   width: 100%;
   padding: 1.5rem;
   display: flex;
   justify-content: space-between;
}

.container:nth-child(1){
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   background: var(--countrybgcolor);
}

button {
   outline: none;
   border: none;
   background: transparent;
   color: var(--fontColor);
}

.toggle {
   font-size: 1rem;
   cursor: pointer;
   color: var(--fontColor);
}

.toggle i{
   padding-right: 3px;
}

.form-control{
   width: 23rem;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   position: relative;
   border-radius: 5px;
   overflow: hidden;
   background: var(--countrybgcolor);
}

.form-control input {
   width: 100%;
   padding: 15px 14px;
   outline: 0;
   border: 0;
   font-size: 1rem;
   letter-spacing: 0.5px;
   color: var(--fontColor);
   background: var(--countrybgcolor);
}

.form-control i{
   position: absolute;
   top: 1rem;
   right: 1rem;
   cursor: pointer;
}

.dropDownCon {
   width: 15rem;
   position: relative;
   background: var(--countrybgcolor);
   border-radius: 5px;
}

.dropDown {
   width: 100%;
   padding: 15px 14px;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: space-between;
   font-size: 15px;
   background: var(--countrybgcolor);
}

.dropDown i{
   cursor: pointer;
}

.dropDown p{
    letter-spacing: 0.5px;
}

.drop {
   position: absolute;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   top: 4rem;
   padding: 1rem 1.3rem;
   width: 100%;
   border-radius: 5px;
   background: var(--bgColor); 
   cursor: pointer;
}

.showDropDown {
   background: var(--countrybgcolor);
}

.drop p {
     margin: 5px 0;
     cursor: pointer;
}

.countries {
/*    padding: 28px;
   display: grid;
   grid-template-columns: repeat(4, minmax(300px, fr));
   grid-gap: 20px; */
   
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.country {
   min-height: 350px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   width: 300px;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
   border-radius: 5px;
   overflow: hidden; 
   background: var(--countrybgcolor);
}

.country-img {
   height: 192px;
}

.country-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.country-info {
   padding: 20px 17px; 
}

.country-info h5 {
   padding: 8px 0;
   font-size: 20px;
   letter-spacing: 1px;
}

.country-info p {
   letter-spacing: 1px;
}

.country-info p>strong {
   font-weight: 600;
}

.showDropDown{
   display: none;
}

.countryModal{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: var(--bgColor);
   padding: 30px;
}

.back {
   position: absolute;
   top:3rem;
   left: 30px;
   background: var(--countrybgcolor);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   padding: 10px 20px;
   font-size: 0.6rem;
   letter-spacing: 1px;
   border-radius: 5px;
   cursor: pointer;
}

.modal{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10%;
}

.leftModal{
   width: 50%;
}

.leftModal img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.rightModal {
   width: 50%;
   margin-left: 40px;
}

.modalinfo {
   display: flex;
   justify-content: space-between;
}

.rightModal h1 {
   margin: 10px 0;
   letter-spacing: 1px;
   font-size: 2rem;
}

.inner p{
   letter-spacing: 600;
}

.inner p>strong{
   font-weight: 600;
}

.show {
   display: none;
}

@media screen and (max-width:420px) {

   body {
      overflow-x: hidden;
   }

   .size h1 {
      font-size: 1rem;
   }

   .size {
      font-size: 0.2rem;
      margin: 0;
      gap: 1em;
   }

   /* .countries {
      display: grid;
      grid-column: 1/3;
      width: fit-content;
   } */

   .boxes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 3rem;

   }

   .align {
      display: flex;
      gap: 1em;
        flex-direction: column;
        align-items: center;
   }

   .form-control {
      width: 19rem;
   }

   ::placeholder{
      text-align: center;
  }

  .dropDown p {
   text-align: center;
  }


  .modal {
   margin-top: 10rem;
   flex-direction: column;
  }

  .leftModal{
   width: 100%;
}


  .leftModal img {
   width: 100%;
   margin: 0 auto;
  }

  
}
